---
import Layout from "../layouts/Layout.astro";
import "./style.css";
---

<Layout title="Our Team">
  <section>
    <div class="container">
      <h1 class="section-title">Our Team</h1>
      <div class="our-team">
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3dALBKo"
                  width="200"
                  alt="Kaung Myat Soe"
                />
                <h3 class="member-name">Kaung Myat Soe</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3SnTcei"
                  width="200"
                  alt="Wunna Oo"
                />
                <h3 class="member-name">Wunna Oo</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3LB6C4d"
                  width="200"
                  alt="Arkar Phyo"
                />
                <h3 class="member-name">Arkar Phyo</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3LBY2lH"
                  width="200"
                  alt="Thin Thiri Hlaing"
                />
                <h3 class="member-name">Thin Thiri Hlaing</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3C3TB09"
                  width="200"
                  alt="Thel Su Yin Nway"
                />
                <h3 class="member-name">Thel Su Yin Nway</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3r4v1pi"
                  width="200"
                  alt="Pa Pa Hmwe"
                />
                <h3 class="member-name">Pa Pa Hmwe</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="bg"></div>
          <div class="profile">
            <div>
              <div class="position-relative text-align-center">
                <img
                  src="https://bit.ly/3dxtt4a"
                  width="200"
                  alt="Kay Zar Lwin"
                />
                <h3 class="member-name">Kay Zar Lwin</h3>
              </div>
              <div>
                <h6 class="position text-align-center">Web Developer</h6>
              </div>
              <div class="social-icons">
                <div class="github">
                  <i class="fa-brands fa-github"></i>
                </div>
                <div class="linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="twitter">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
